# 单细胞空间转录组
单细胞空间转录组/001.Seurat/data

单细胞空间转录组/006.WGCNA/FemaleLiver-Data
单细胞空间转录组/006.WGCNA/result

单细胞空间转录组/007.hdWGCNA/enrichr_plots
单细胞空间转录组/007.hdWGCNA/ModuleNetworks
单细胞空间转录组/007.hdWGCNA/TOM
单细胞空间转录组/007.hdWGCNA/hdWGCNA_object.rds
单细胞空间转录组/007.hdWGCNA/Zhou_2020.rds

单细胞空间转录组/vitessceR/data



# 机器学习深度学习
机器学习深度学习/001.XGBoost/dtrain.buffer
机器学习深度学习/001.XGBoost/xgboost.model



# 图像处理
图像处理/03.skimage/.ipynb_checkpoints





.Rproj.user
